@import '~@angular/material/theming';

$apartments-primary: mat-palette($mat-indigo);
$apartments-accent: mat-palette($mat-pink, A200, A100, A400);
$apartments-warn: mat-palette($mat-red);

$apartments-theme: mat-light-theme(
  $apartments-primary,
  $apartments-accent,
  $apartments-warn
);

$typography: mat-typography-config(
  $font-family: 'Lexend Deca, Roboto, monospace',
);

@include angular-material-theme($apartments-theme);
@include mat-core($typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Lexend Deca, Roboto, 'Helvetica Neue', sans-serif;
  @extend .mat-app-background;
}
