:host {
  --grid-gap: 12px;
  --grid-item-size: 250px;
  display: block;
  margin: var(--grid-gap);

  .grid {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--grid-item-size), 1fr)
    );
  }
}

mat-card {
  display: flex;
  flex-direction: column;

  mat-card-header {
    flex: 1;
  }

  img {
    height: 200px;
    object-fit: cover;
  }
}
