<mat-form-field>
  <input placeholder="Search..." matInput [formControl]="search" />
</mat-form-field>

<div class="grid">
  <mat-card
    *ngFor="let apartment of filteredApartments$ | async; trackBy: trackById"
    class="mat-elevation-z8"
  >
    <mat-card-header>
      <mat-card-title>{{ apartment.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="apartment.photoURL" [alt]="apartment.name" />
    <mat-card-actions>
      <button mat-button [routerLink]="apartment.id">Details</button>
      <button mat-button (click)="applyForLease(apartment.id)">Apply</button>
    </mat-card-actions>
  </mat-card>
</div>
